body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
    background-color: coral;
}

#formIniziale{
    border: 2px solid black;
    box-shadow: 50px 50px 70px coral;
}

#formDomanda{
    width: 30%;
}

#testoEFormDomanda{
    border: 2px solid black;
    padding: 2%;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    background-color: coral;
    box-shadow: 50px 50px 70px coral;
}

#titolo{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin-bottom: 2%;
    background-color: coral;
}

#testoDomanda{
    margin-bottom: 3px;
}

#radioRisposte{
    text-align: left;
}

#pulsanteInviaRisposta{
    margin-top: 20px;
}

#fineQuiz{
    border: 2px solid black;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15%;
    padding: 2%;
    background-color: coral;
    box-shadow: 50px 50px 70px coral;
}

#contenitoreEsitoRisposta{
    margin: 100px auto 200px;
    width: 100px;
}

#esitoRisposta{
    width: 100px;
}

.media{
    width: 300px;
    margin-bottom: 50px;
}

button {
  padding: 7px 12px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 7px;
  box-shadow: 0 9px #999;

  transition-duration: 0.4s;
}

button:hover {
    color: white;
    background-color: black
}

button:active {
  background-color: black;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}